<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PFinal</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="/">PFinal</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/article/">文章列表</a>
            </li>
            <li>
                <a href="#">知乎</a>
            </li>
            <li>
                <a href="#">github</a>
            </li>
        </ul>
    </nav>
    <div class="container" style="margin-top:60px;">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#000;color:#fff">
                <h3 class="panel-title"> <i class="fa fa-list-alt"></i> 详情</h3>
            </div>
            <div class="panel-body">
                <h2 style="text-align:center">{{ artilce.title }}</h2>
                <p style="text-align:center"><i class="fa fa-time"></i> {{ artilce.add_time }}</p>
                <p style="text-indent: 2em">
                    {{ artilce.content }}
                </p>
            </div>
            <div class="panel panel-footer">
                <span class="label label-info"><i class="fa fa-user-o"></i> {{ artilce.authors }}</span>
            </div>
        </div>
    </div>
</body>

</html>