<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>展示型的网站</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>

<body style="background-color: #f3f3f3">
    <div class="panel panel-default" style="margin-top:15%;background-color: 
    #f3f3f3;border: none">
        <div class="panel-body" style="display:flex;align-items: center;
        display: flex;flex-direction: column;
        justify-content: center;">
            <div style="border: solid 10px rgba(0,0,0,-0.8);
            width: 200px;
            height: 200px;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 0 60px rgba(0,0,0,.3);">
                <img src="/static/images/psb.jpg" style="width:100%;" alt="">
            </div>
            <div class="title" style="font-size: 84px;font-weight: 100;">
                PFinal 南丞
            </div>

            <div class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li style="margin-left:10px;">
                        <a href=""> <i class="fa fa-home fa-fw" aria-hidden="true"></i> 首页</a>
                    </li>
                    <li>
                        <a href="/article">文章</a>
                    </li>
                    <li>
                        <a href="#">知乎</a>
                    </li>
                    <li>
                        <a href="#">github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>