<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>展示型的网站</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/jquery.eeyellow.Timeline.css" />
</head>

<body style="background-color: #f3f3f3">
    <div class="container">
        <div class="navbar navbar-inverse">
            <a class="navbar-brand" style="width:50px;border: solid 2px #fff;
            border-radius: 100%;
            overflow: hidden;
            margin-left:10px;
            padding: 0rem;
            box-shadow: 0 0 60px rgba(255,255,255,.3);"
                href="/"><img style="width:100%;height:100%;border-radius: 50%" src="{{url_for('static',filename='images/psb.jpg')}}"
                    alt=""></a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> 首页</a></a>
                </li>
                <li>
                    <a href="/article"><i class="fa fa-file-text"></i> 资讯</a>
                </li>
            </ul>
        </div>
        <div class="amin">
            <aside class="col-sm-3">

                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #080808;color:#fff">
                        <h3 class="panel-title" > <i class="fa fa-newspaper-o"></i> 资讯列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                Cras justo odio
                            </a>
                            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item">Morbi leo risus</a>
                            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                            <a href="#" class="list-group-item">Vestibulum at eros</a>
                        </div>
                    </div>
                </div>
            </aside>
            <section class="col-sm-9" style="border:1px solid red;">
                <div class="VivaTimeline">
                    <dl>
                        <dt>May 2016</dt>
                        <dd class="pos-left clearfix">
                            <div class="circ"></div>
                            <div class="time">Feb 03</div>
                            <div class="events">
                                <div class="events-header">Event Heading</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/dog01.png" />
                                        </div>
                                        <div class="events-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                            est laborum.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/dog02.png" />
                                        </div>
                                        <div class="events-desc">
                                            Morbi at nisi vitae mauris pretium egestas. Morbi placerat risus ligula,
                                            nec placerat urna porta vel. Nullam sollicitudin orci quis odio eleifend,
                                            ut facilisis orci lobortis. Vivamus sed lobortis odio. Nam volutpat, leo a
                                            ullamcorper luctus, sapien libero auctor est, sed semper massa turpis sed
                                            quam. Mauris posuere, libero in ultricies dignissim, lacus purus egestas
                                            urna, nec semper lorem tellus non eros. Nam at bibendum libero. Curabitur a
                                            ante et orci cursus tincidunt. Vivamus dictum, libero et rhoncus congue,
                                            nulla erat mollis dui, vitae cursus dui justo quis velit. In a tellus arcu.
                                            Nam at lobortis nisl. Donec consequat placerat eros, quis elementum mauris
                                            sodales a. Maecenas id feugiat velit. Phasellus dictum eleifend varius.
                                            Cras nec orci turpis. Aenean ut turpis nibh.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/dog03.png" />
                                        </div>
                                        <div class="events-desc">
                                            Cras condimentum, metus ut vehicula euismod, odio massa pulvinar neque, id
                                            gravida neque est et sem. Proin consequat id nibh quis molestie. Quisque
                                            vehicula purus id purus elementum facilisis. Phasellus sodales nibh quis
                                            neque rhoncus aliquet. Nunc eget ipsum efficitur, pretium arcu et, gravida
                                            purus. Phasellus tempor lacus ac enim pulvinar elementum. Integer aliquet
                                            justo lacinia nunc tempus vulputate.
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">
                                    123
                                </div>
                            </div>
                        </dd>
                        <dt>Feb 2016</dt>
                        <dd class="pos-right clearfix">
                            <div class="circ"></div>
                            <div class="time">Jan 21</div>
                            <div class="events">
                                <div class="events-header">A Very Very Looooooooooooooooooooong Event Heading</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/cat01.png" />
                                        </div>
                                        <div class="events-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                            est laborum.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/cat02.png" />
                                        </div>
                                        <div class="events-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                            est laborum.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/cat03.png" />
                                        </div>
                                        <div class="events-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                            est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">

                                </div>
                            </div>
                        </dd>
                        <dd class="pos-left clearfix">
                            <div class="circ"></div>
                            <div class="time">Jan 07</div>
                            <div class="events">
                                <div class="events-header">Event Heading</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/rabbit01.png" />
                                        </div>
                                        <div class="events-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                            est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <dt>Jan 2016</dt>
                        <dt>Dec 2015</dt>
                        <dt>Oct 2015</dt>
                        <dt>Sep 2015</dt>
                        <dt>Aug 2015</dt>
                    </dl>
                </div>
            </section>
        </div>

    </div>

</body>

</html>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.eeyellow.Timeline.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
    });
</script>