[Desktop Entry] 
Name = test 
Comment= android studio 
Exec=/home/pfinal/www/code/python-note/code/Python-tkinter/test.sh 
Icon=/home/pfinal/Downloads/fm.jpg
Terminal=false
Actions=Window
Type=Application
